body {  
  padding: 50px;
  font: 14px "Montserrat", sans-serif;
  background-color: #C3D2F5;
}

h1 {
  text-align: center;
  font-weight: lighter
}

a {
  color: #5E71E4;
}

#search {
  padding: 4px;
  width: 300px;
  margin: 0;  
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #F2F4FB}

th {
  background-color: #071D49;
  color: white;
}

td input {
  width: 100%;
  padding: 4px;
}

button {
  color: #fff;
  background-color:  #5E71E4;
  padding: 4px 8px 4px 8px;
}

